In [1]:
from exobuilder.contracts.futureschain import FuturesChain
from exobuilder.contracts.futurecontract import FutureContract
from exobuilder.tests.assetindexdict import AssetIndexDicts
from datetime import datetime, date, timedelta, time as dttime
from exobuilder.contracts.instrument import Instrument
from exobuilder.data.datasource_mongo import DataSourceMongo
from exobuilder.data.datasource_sql import DataSourceSQL
from exobuilder.data.assetindex_mongo import AssetIndexMongo
from exobuilder.data.datasource_hybrid import DataSourceHybrid
from exobuilder.data.exostorage import EXOStorage
from exobuilder.exo.exoenginebase import ExoEngineBase
from exobuilder.exo.transaction import Transaction
import time
from exobuilder.algorithms.rollover_helper import RolloverHelper
import pandas as pd

In [2]:
from pymongo import MongoClient

In [3]:

mongo_db_name = 'tmldb'

MONGO_CONNSTR = 'mongodb://exowriter:qmWSy4K3@10.0.1.2/tmldb?authMechanism=SCRAM-SHA-1'

assetindex = AssetIndexMongo(MONGO_CONNSTR, mongo_db_name)
exostorage = EXOStorage(MONGO_CONNSTR, mongo_db_name)

futures_limit = 3
options_limit = 10

DEBUG = '.'

#datasource = DataSourceMongo(mongo_connstr, mongo_db_name, assetindex, futures_limit, options_limit, exostorage)

server = 'h9ggwlagd1.database.windows.net'
user = 'modelread'
password = '4fSHRXwd4u'
datasource = DataSourceSQL(server, user, password, assetindex, futures_limit, options_limit, exostorage)

MONGO_CONNSTR_HYBRID = 'mongodb://tml:tml@10.0.1.2/tmldb_test?authMechanism=SCRAM-SHA-1'
MONGO_DB_HYBRID = 'tmldb_test'
#datasource = DataSourceHybrid(server, user, password, assetindex, MONGO_CONNSTR_HYBRID, MONGO_DB_HYBRID, futures_limit, options_limit, exostorage)

In [24]:
values = []
for month in range(1, 13):
    dt = datetime(2015, month, 1, 12, 45)
    instr = datasource.get('ZS', dt)
    
    rh = RolloverHelper(instr)
    fut, opt_chain = rh.get_active_chains()
    
    values.append({'istrument': instr.name,
                   'month': month, 
                   'date': dt, 
                   'fut_exp': fut.expiration, 
                   'opt_exp': opt_chain[0].expiration})

In [25]:
pd.DataFrame(values)

                  date    fut_exp istrument  month    opt_exp
0  2015-01-01 12:45:00 2015-03-13        ZS      1 2015-01-23
1  2015-02-01 12:45:00 2015-03-13        ZS      2 2015-02-20
2  2015-03-01 12:45:00 2015-05-14        ZS      3 2015-03-27
3  2015-04-01 12:45:00 2015-05-14        ZS      4 2015-04-24
4  2015-05-01 12:45:00 2015-07-14        ZS      5 2015-05-22
5  2015-06-01 12:45:00 2015-07-14        ZS      6 2015-06-26
6  2015-07-01 12:45:00 2015-08-14        ZS      7 2015-07-24
7  2015-08-01 12:45:00 2015-09-14        ZS      8 2015-08-21
8  2015-09-01 12:45:00 2015-11-13        ZS      9 2015-09-25
9  2015-10-01 12:45:00 2015-11-13        ZS     10 2015-10-23
10 2015-11-01 12:45:00 2016-01-14        ZS     11 2015-11-20
11 2015-12-01 12:45:00 2016-01-14        ZS     12 2015-12-24

In [26]:
values = []
for month in range(1, 13):
    dt = datetime(2016, month, 1, 12, 45)
    instr = datasource.get('ZS', dt)
    
    rh = RolloverHelper(instr)
    fut, opt_chain = rh.get_active_chains()
    
    values.append({'istrument': instr.name,
                   'month': month, 
                   'date': dt, 
                   'fut_exp': fut.expiration, 
                   'opt_exp': opt_chain[0].expiration})

In [27]:
pd.DataFrame(values)

                  date    fut_exp istrument  month    opt_exp
0  2016-01-01 12:45:00 2016-03-14        ZS      1 2016-01-22
1  2016-02-01 12:45:00 2016-03-14        ZS      2 2016-02-19
2  2016-03-01 12:45:00 2016-05-13        ZS      3 2016-03-24
3  2016-04-01 12:45:00 2016-05-13        ZS      4 2016-04-22
4  2016-05-01 12:45:00 2016-07-14        ZS      5 2016-05-20
5  2016-06-01 12:45:00 2016-07-14        ZS      6 2016-06-24
6  2016-07-01 12:45:00 2016-08-12        ZS      7 2016-07-22
7  2016-08-01 12:45:00 2016-09-14        ZS      8 2016-08-26
8  2016-09-01 12:45:00 2016-11-14        ZS      9 2016-09-23
9  2016-10-01 12:45:00 2016-11-14        ZS     10 2016-10-21
10 2016-11-01 12:45:00 2017-01-13        ZS     11 2016-12-23
11 2016-12-01 12:45:00 2017-01-13        ZS     12 2016-12-23

In [28]:
dt = datetime(2015, 2, 1, 12, 45)
instr = datasource.get('ZS', dt)

rh = RolloverHelper(instr)
fut, opt_chain = rh.get_active_chains()

In [29]:
instr.futures

0: 2015-03-13 F.US.ZSEH15 1030.75
1: 2015-05-14 F.ZSEK15 1031.75
2: 2015-07-14 F.US.ZSEN15 1034.75

In [30]:
instr.futures[0].options